[Unit]
Description=hades-lock
Conflicts=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hades init

[Install]
WantedBy=multi-user.target
WantedBy=hades.target
